.head {
    background-image: url(../images/bg-head.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 193px;
    &__arr{
         display: none;
    }
       
   
}


.top-slider {
    background: rgba(33, 33, 33, 0.5);
    position: relative;
   
    &__item{
        color: #fff;
        text-align: center;
        min-height: 193px;
    }
    &__title{
        font-family: 'Roboto-Regular';
        line-height: 28px;
        font-size: 28px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 36px 0 28px;
        max-width: 243px;
        margin: 0 auto;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            width: 64px;
            height: 8px;
            bottom: 0;
            margin: 0 auto;
            background-color: $text-color;
        }
    }
    &__text{
        display: none;
    }
    &__btn {
        display: none;
        margin: 0 auto 113px;
        font-size: 18px;
        font-weight: 500;
        background-color: $accent;
        padding: 16px 46px;
        color: #fff;
        border: none;
        border-radius: 10px;
    }

    
   
}




@media (min-width: 640px) {
    .head {
        min-height: 386px;
        position: relative;
        &__arr{
          position: absolute;
          display: block;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          z-index: 5;
          &-left{
            padding: 10px;
            background-color: $accent; 
          }
          &-right{
            padding: 10px;
            background-color: #fff; 
          }
        }
    }

    .top-slider {
        &__item{
            min-height: 386px;
        }
        &__title{
            font-size: 60px;
            line-height: 60px;
            padding: 50px 0 15px;
            margin: 0 auto 30px;
            max-width: 520px;
        }
        &__btn{
            display: block;
            cursor: pointer;
        }
        .slick-dots{
            bottom: 50px;
        }
       
        
    }
}

@media (min-width: 768px) {
    .top-slider {
        &__item{
            min-height: 465px;
        }
        &__text{
           padding: 25px 0 32px;
           font-size: 18px;
           line-height: 20px;
           font-weight: 400;
           display: block;
           max-width: 650px;
           margin: 0 auto;
        }
        &__title{
            padding: 87px 0 0;
            margin: 0 auto 0;
            &::after{
                display: none;
            }

        }
       
        
    }
}

@media (min-width: 1024px) {
    .top-slider {
        &__item{
            min-height: 618px;
        }
       
        &__title{
          padding-top: 101px;
          font-size: 84px;
          line-height: 84px;
          letter-spacing: 2px;
          max-width: 750px;
        }
        .slick-dots{
            bottom: 80px;
        }
       
        
    }
}

@media (min-width: 1440px) {
    
    .head {
       
        &__arr{
          
          &-left,
          &-right{
            padding: 15px;
          
          }
         
        }
    }
    
    
    .top-slider {
        &__item{
            min-height: 668px;
        }
        &__text{
         font-size: 24px;
         line-height: 24px;
         max-width: 865px;
        }
        &__title{
          padding-top: 101px;
          font-size: 96px;
          line-height: 96px;
          letter-spacing: 2px;
          max-width: 865px;
        }
        .slick-dots{
            bottom: 80px;
        }
       
        
    }
}







    
